* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: white;
  color: black;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6vw;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card__title {
  font-size: 1.25rem;
  font-weight: normal;
}

.card__excerpt {
  font-size: 0.95rem;
  line-height: 1.4;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__more {
  font-size: 0.9rem;
  text-decoration: underline;
  color: black;
}

@media screen and (min-width: 1024px) {
  .cards {
    flex-direction: row;
    gap: 3rem;
  }

  .card {
    flex: 1;
  }
}
