h1 {
  font-family: sans-serif;
}
h2{ 
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}
body{
  background-color:blue; 
}
img {
  width: 300px;
  animation: rotate 2s infinite steps(2);
}

@keyframes rotate {
    0% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-40deg);
    }




