/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page setup for print */
html, body {
  width: 11in;
  height: 17in;
  margin: 0;
}

/* Poster container */
.poster {
  width: 11in;
  height: 17in;

  background-image: url("./BC1CB096-0FE9-4ABE-B467-96B724156802_1_201_a.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 position: relative;
  font-family: "Big Caslon", "Adobe Caslon Pro", "Caslon", Georgia, serif;
}
