/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page setup for print */
html, body {
  width: 11in;
  height: 17in;
}

/* Poster container */
.poster {
  width: 11in;
  height: 17in;
  background-image: url("BC1CB096-0FE9-4ABE-B467-96B724156802_1_201_a.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  font-family: "Big Caslon", "Adobe Caslon Pro", "Caslon", Georgia, serif;
  color: white;
}

/* Middle text */
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-text h2 {
  font-size: 24pt;
  letter-spacing: 0.15em;
  text-transform: lowercase;
  margin-bottom: 0.5em;
}

.center-text h1 {
  font-size: 72pt;
  font-weight: normal;
  line-height: 1.1;
}

/* Bottom title */
.bottom-text {
  position: absolute;
  bottom: 1in;
  width: 100%;
  text-align: center;
}

.bottom-text h1 {
  font-size: 96pt;
  font-weight: normal;
  letter-spacing: 0.02em;
}
